<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.asomapps.popularmovies">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.DetailActivity"
            android:parentActivityName=".ui.activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="pe.asomapps.popularmovies.data.glide.MovieGlideSetup"
            android:value="GlideModule" />
    </application>

    <provider
        android:name="pe.asomapps.popularmovies.model.data.base.generated.AppProvider"
        android:authorities="pe.asomapps.popularmovies.model.data.base.AppProvider"
        android:exported="false" />

</manifest>
